<a href="https://colab.research.google.com/github/sarveshkuvalekar/DSBDA_LAB_Practicals/blob/main/PRACTICAL_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
d = pd.read_excel('/content/Demo Data DSBDA.xlsx')
d

,Sr. no.,Roll No,Name of the Student,DM,FDS,OOP,CG,DELD,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,1,SCOA01,ALISHA SHEIKH,24,27,20,15,16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,SCOA02,SOHAM JAYYANNTH DESHMUKKH,16,9,9,AB,AB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,SCOA03,SHELAR NEHA NILESH,20,23,16,15,15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,SCOA04,RIYA JAWALE,18,14,11,8,15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,SCOA05,NARHE VARSHA RAOSAHEB,20,24,16,24,20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,Maximum marks,NaN,NaN,24,27,25,29,27,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321`
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,Internal Exam Coordinator,NaN,NaN,NaN,NaN,HOD,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
d.isna().sum()

Sr. no.                 6
 Roll No               14
Name of the Student    15
DM                      6
FDS                     6
OOP                     6
CG                      5
DELD                    6
Unnamed: 8             82
Unnamed: 9             82
Unnamed: 10            82
Unnamed: 11            82
Unnamed: 12            82
Unnamed: 13            82
Unnamed: 14            82
Unnamed: 15            82
Unnamed: 16            82
Unnamed: 17            82
Unnamed: 18            82
Unnamed: 19            82
Unnamed: 20            82
Unnamed: 21            82
Unnamed: 22            82
Unnamed: 23            80
dtype: int64

In [ ]:
d.replace(to_replace = np.nan, value=2, implace=True)

TypeError: NDFrame.replace() got an unexpected keyword argument 'implace'

In [ ]:
d.replace(to_replace = np.nan, value=2, inplace=True)

In [ ]:
d.head()

,Sr. no.,Roll No,Name of the Student,DM,FDS,OOP,CG,DELD,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,1,SCOA01,ALISHA SHEIKH,24,27,20,15,16,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2
1,2,SCOA02,SOHAM JAYYANNTH DESHMUKKH,16,9,9,AB,AB,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2
2,3,SCOA03,SHELAR NEHA NILESH,20,23,16,15,15,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2
3,4,SCOA04,RIYA JAWALE,18,14,11,8,15,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2
4,5,SCOA05,NARHE VARSHA RAOSAHEB,20,24,16,24,20,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2

In [ ]:
d['gender']=np.random.choice(['Male', 'Female'],size=len(d))

In [ ]:
d['gender'].map({'Male':0, 'Female':1})

0     0
1     1
2     1
3     1
4     0
     ..
77    0
78    1
79    1
80    0
81    0
Name: gender, Length: 82, dtype: int64

In [ ]:
d[['DM', 'FDS', 'OOP', 'CG', 'DELD']]= d[['DM', 'FDS', 'OOP', 'CG', 'DELD']].replace('AB', 0)

In [ ]:
d['DM']=pd.to_numeric(d['DM'], errors='coerce')
d = d[d['DM']>=20]
d

,Sr. no.,Roll No,Name of the Student,DM,FDS,OOP,CG,DELD,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,gender
0,1,SCOA01,ALISHA SHEIKH,24.000,27,20,15,16,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
2,3,SCOA03,SHELAR NEHA NILESH,20.000,23,16,15,15,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Female
4,5,SCOA05,NARHE VARSHA RAOSAHEB,20.000,24,16,24,20,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
5,6,SCOA06,BHUTDA MAHESH SHANTILAL,20.000,9,0,0,0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Female
6,7,SCOA07,JAGTAP HARISH YUVRAJ,22.000,18,3,16,7,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
7,8,SCOA08,DESHPANDE SRUSHTI VINAYAK,24.000,20,19,16,23,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
8,9,SCOA09,DARWEY RUDRA GUNWANT,22.000,12,9,15,7,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
9,10,SCOA10,ERANDE TEJAS DIPAK,24.000,18,11,23,0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Female
11,12,SCOA12,SHAIKH AMAAN AHMED SHAKEEL AHMED,20.000,23,24,21,0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
15,16,SCOA16,SHELKE GAURAV GIRISH,20.000,19,12,9,16,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
17,18,SCOA18,BHUJBAL SRUSHTI VINAYAK,24.000,24,19,28,17,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
18,19,SCOA19,CHINCHANE SANSKRUTI GAJANAN,22.000,23,7,14,14,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
19,20,SCOA20,VIDULA VIKAS PATIL,20.000,24,16,26,20,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Female
20,21,SCOA21,BHONGALE OMKAR MADHUKAR,22.000,17,19,10,13,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
21,22,SCOA22,PAWAR DNYANESHWARI V,21.000,22,24,24,22,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
23,24,SCOA24,JAGDALE ARYAN DIPAK,20.000,15,3,11,5,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Female
24,25,SCOA25,HEMANT SAINI,22.000,23,13,18,8,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Female
31,32,SCOA32,JADHAV SUJATA SUDAM,24.000,26,21,26,27,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
32,33,SCOA33,DHAMANE NAYAN VIDYADHAR,20.000,14,20,14,18,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Female
33,34,SCOA34,AYAAN SAHIR CHOPDAR,22.000,24,24,24,18,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
37,38,SCOA38,THETE SANJIVANI SANTOSH,23.000,19,18,24,23,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Female
40,41,SCOA41,DEVANSHU SHARMA,20.000,20,25,20,21,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Female
41,42,SCOA42,BAILE MANTHAN VIVEK,22.000,17,0,17,0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
50,51,SCOA51,BHALKAR MUKUL RAMKRUSHNAJI,24.000,18,19,7,20,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
57,58,SCOA58,ADHAV ANIKET NARAYAN,24.000,23,17,20,0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
58,59,SCOA59,PURANIK DIVYESH SANDIP,20.000,12,18,11,15,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Female
60,61,SCOA62,BADAVE SHRIKRISHNA VASUDEV,24.000,18,24,18,0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
71,Number of students Present:,2,2,64.000,66,61,63,44,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male
72,Number of students Pass:,2,2,50.000,59,30,35,21,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Female
74,Passing Percentage ( Result),2,2,78.125,89.393939,49.180328,55.555556,47.727273,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Female
77,Maximum marks,2,2,24.000,27,25,29,27,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,Male